<!-- Image and text -->
<nav class="navbar sticky-top navbar-light" style="background-color: rgb(56, 44, 99);opacity: 0.9;">
  <a class="navbar-brand" routerLink="">
    <img src="../assets/clapperboard.png" width="50px" height="auto" class="d-inline-block align-top" alt=""><h4 class="text-reverse">CINEMA</h4>
   
  </a>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search a movie" aria-label="Search">
  </form>
  <div *ngIf="userConnected">
        <img src="../assets/account_circle_white.png" width="30px" height="auto" class="d-inline-block" alt="">
        <p class="text-reverse">{{user.name}} {{user.firstName}}</p>
        <button class="btn btn-danger" (click)="deconnect()"><img src="../assets/logout.png" width="20px" height="auto" alt=""></button>
  </div>
  <div *ngIf="!userConnected">
    <button class="btn btn-danger" routerLink="/login">
      <img src="../assets/account_circle_white.png" width="30px" height="auto" class="d-inline-block align-top" alt="">
      Se connecter
    </button>
  </div>
  
</nav>


<router-outlet></router-outlet>
