
<div class="jumbotron" style="background-image:url('../../../assets/cover_detail_image/Dumbo.jpg');padding-top: 10px;background-position: center;background-attachment: fixed;">
  <h1 class="text-reverse">
      Dumbo
  </h1><button class="btn btn-danger" routerLink="">Changer de film</button>
  <div class="jumbotron" style="background-color : rgb(255, 255, 255);opacity: 0.8;">
    <p>Aventure(1h52) de Tim Burton</p>
    <p>
        Les enfants de Holt Farrier, ex-artiste de cirque chargé de s'occuper d'un éléphanteau dont les oreilles démesurées sont la risée du public, découvrent que ce dernier sait voler... 
    </p>
    <hr>
    <h2>SEANCE</h2> du 13/05/2019 à 18h05 <button class="btn btn-danger" routerLink="/seance/Dumbo">Changer de séance</button>
    <h3 style="text-align:center">SALLE 2</h3>
    <hr>
    <div class="jumbotron" style="background-color:black">
      <div class="row">
        <div class="col lg-md-3">
          <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
          <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
          <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">4A</span></button>
          <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">5A</span></button>
        </div>
        <div class="col lg-md-6">
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
            <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">4A</span></button>
            <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">5A</span></button>
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
          <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
          <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">4A</span></button>
          <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">5A</span></button>
          <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
          <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
        </div>
        <div class="col lg-md-3">
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
            <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">4A</span></button>
            <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">5A</span></button>
        </div>
      </div>
      <hr>
      <div class="row">
          <div class="col lg-md-3">
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
            <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">4A</span></button>
            <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">5A</span></button>
          </div>
          <div class="col lg-md-6">
              <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
              <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
              <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">4A</span></button>
              <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">5A</span></button>
              <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
            <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">4A</span></button>
            <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">5A</span></button>
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
          </div>
          <div class="col lg-md-3">
              <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
              <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
              <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">4A</span></button>
              <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">5A</span></button>
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col lg-md-3">
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
            <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">4A</span></button>
            <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">5A</span></button>
          </div>
          <div class="col lg-md-6">
              <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
              <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
              <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">4A</span></button>
              <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">5A</span></button>
              <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
            <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">4A</span></button>
            <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">5A</span></button>
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
            <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
          </div>
          <div class="col lg-md-3">
              <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">2A</span></button>
              <button class="btn btn-warning"><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">3A</span></button>
              <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">4A</span></button>
              <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"><span class="badge badge-light">5A</span></button>
          </div>
      </div>
    </div>
    Vos places :  <button class="btn btn-success" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"></button>
    Places libres :  <button class="btn btn-warning" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"></button>
    Places occupées :  <button class="btn btn-danger" disabled><img src="../../assets/siege.png" style="width:25px;height:auto;"></button>
    <div>
        <button class="btn btn-info" style="float:right" routerLink="/reservation">VALIDER LA RESERVATION >></button>
    </div>
    
</div>



