<body style="background-image:url('../../assets/cinema.jpg')">
<div class="jumbotron" style="opacity:0.9">
  <h3>Votre reservation : </h3>
  <div class="jumbotron" style="background-color:rgb(94, 94, 94)">
    <div class="row">
      <div class="col lg-md-6">
          <img src="../assets/clapperboard.png" width="40px" height="auto" class="d-inline-block align-top" alt="">
      </div>
      <div class="col lg-md-6">
          <img src="../assets/clapperboard.png" width="40px" height="auto" class="d-inline-block align-top" alt="" style="float:right">
      </div>
    </div>
   
    <hr>
    <div class="row">
      <div class="col lg-md-6">
        <div class="row">
          <div class="col lg-md-2">
              <p class="text-reverse"><span class="badge badge-pill badge-danger"><h5>Au nom de :</h5></span> Guyelle Ralison</p>
              <p class="text-reverse"><span class="badge badge-pill badge-danger"><h5>Contact : </h5></span> 033 12 292 64</p>
              <p class="text-reverse"><span class="badge badge-pill badge-danger"><h5>Email : </h5></span> rguyelle@hotmail.fr </p>
          </div>
          <div class="col lg-md-10">
            <p class="text-reverse"><a routerLink="" class="badge badge-pill badge-danger">
              <h5>Film <img src="../../assets/icone-edit.png" width="22px" height="auto">:</h5></a> Avengers EndGame</p>
            <p class="text-reverse"><a routerLink="/seance/id" class="badge badge-pill badge-danger">
                <h5>Séance du : <img src="../../assets/icone-edit.png" width="22px" height="auto">:</h5></a> 11/05/2019 à 18h05</p>
            <p class="text-reverse"><a routerLink="/seance/id" class="badge badge-pill badge-danger">
                <h5>Salle : <img src="../../assets/icone-edit.png" width="22px" height="auto">:</h5></a> 002</p>
            <p class="text-reverse"><a routerLink="/salle/id" class="badge badge-pill badge-danger">
                <h5>Vos places : <img src="../../assets/icone-edit.png" width="22px" height="auto">:</h5></a> 2F - 3F - 4F</p>
          </div>
        </div>
      </div>
      <div class="col lg-md-6">
        <img src="../../assets/cover_movie/avengers-end-game.jpg" style="width:150px;height:auto;float: right;">
      </div>
    </div>
    <div>
      <button class="btn btn-danger" style="float:right" routerLink="/confirmResa">Valider la réservation</button>
    </div>
    
  </div>
</div>
</body>